

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.businessCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #616161; 
color: #ffffff;
  padding: 50px; /* Add padding */
  border-radius: 10px 10px 0 0; /* Add rounded corners */
  width: 300px; /* Set width */
  margin: auto; /* Center horizontally */
}

.cardImg img {
  width: 300px; /* Adjust image width */
  border-radius: 50%; 
  margin-bottom: 10px; /* Add space between image and text */
}

.cardText {
  text-align: center;
}
.name{
  font-size: 40px;

}

.cardButton {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Blue button */
  color: #000000; /* White text */
  padding: 0px 80px; 
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add pointer cursor */
  margin-top: 10px; /* Add space above button */
}
.cardButton>h2{
  margin: 10px 20px;
}
.about {
  margin-top: 20px; 
font-size: 15px;

  text-align: justify; /* Justify text */
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #131313;
  padding: 20px;
  border-radius: 0 0  10px 10px; /* Add rounded corners */

}

.icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: #000000;
}
